<mat-card>
  <mat-card-title>Analyze an image with Computer Vision API</mat-card-title>
  <form class="upload-form">
    <div class="upload-container">
      <button type="button" mat-raised-button (click)="imgFileInput.click()">Add a photo</button>
      <input hidden type="file" #imgFileInput (change)="previewImage($event)" />
      <img src={{imageSrc}} />
      <button type="button" mat-raised-button id="uploadButton" (click)="analyzeButtonClick()">Upload</button>
      <mat-form-field class="upload-full-width">
        <textarea matInput placeholder="Analysis result" value="{{captions}}" matTextareaAutosize matAutosizeMinRows="5"></textarea>
      </mat-form-field>
    </div>
  </form>
</mat-card>