<mat-card class="upload-card">
  <mat-card-title>Analyze an image with Computer Vision API</mat-card-title>
  <form>
    <mat-card-content>
      <div class="upload-container">
        <input hidden type="file" #imgFileInput (change)="previewImage($event)" />
        <img src={{imageSrc}} />
        <mat-form-field class="upload-full-width">
          <textarea matInput placeholder="Analysis result" value="{{captions}}" matTextareaAutosize matAutosizeMinRows="5"></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button type="button" mat-raised-button (click)="imgFileInput.click()">Add a photo</button>
      <button type="button" mat-raised-button id="analyzeButton" (click)="analyzeButtonClick()">Analyze</button>
      <button type="button" mat-raised-button id="uploadButton" (click)="postButtonClick()">Post to Instagram</button>
    </mat-card-actions>
  </form>
</mat-card>